:root{
    --color-primary: #2584ff;
    --color-secondary: #00d9ff;
    --color-accent: #ff3400;
    --color-headings: #1b0760;
    --color-body: #918ca4;
    --color-border: #ccc;
    --border-radius: 30px;

}

*,*::after, *::before{
    box-sizing: border-box;
}

/* typography */
html{
    font-size: 62.5%;
}

body{
    font-family: Arial, Helvetica, sans-serif;
 font-size: 2.4rem;
    color: var(--color-body);
line-height: 1.5;
}

h1,h2, h3{
    color: var(--color-headings); 
    margin-bottom: 1rem;  
}

h1{
    font-size: 7rem;   
}

h2{
    font-size: 4rem;   
}

h3{
    font-size: 3rem; 
    
}

p{
    margin-top: 0;
}

@media screen and (min-width: 1024px){

    body{
        font: 1.8rem
        ;
    }
    h1{
        font-size: 8rem;
    }
    h2{
        font-size: 4rem,
        ;
    }
    h3{
        font-size: 2.4rem;
    }
    
}

/* links */
a{
    text-decoration: none;
}

.link-arrow{
    color: var(--color-accent);
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: bold;
}

.link-arrow::after{
    content: '-->';
    margin-left: 5px;
    transition: margin 0.15s;
}
.link-arrow:hover::after{
margin-left: 10px;
}

@media screen and (min-width: 1024px){
    .link-arrow{
        font-size: 1.5rem;
    } 
}

/* badges */
.badge{
    border-radius: 20px;
    font-size: 2rem;
    font-weight: 600;
    padding: 0.5rem 1rem;
    white-space: nowrap;
}
.badge--primary{
background: var(--color-primary);
color: white;
}

.badge--secondary{
    background: var(--color-secondary);
    color: white;
}

.badge--small{
    font-size: 1.6rem;
    }

    @media screen and (min-width: 1024px){
        .badge{
            font-size: 1.5rem;
        }
        .badge--small{
            font-size: 1.2rem;
        }
    }


    /* lists */
.list
{
    list-style: none;
    padding-left: 0;
    color: var(--color-headings);
}

.list--inline .list__item{
    display: inline-block;
    margin-right: 3rem;
}
.list--tick{
    list-style-image: url(/images/tick.svg);
    padding-left: 3rem;
}
.list--tick .list__item{
    padding-left: 0.5rem;
    margin-bottom: 1rem;
}

@media screen and (min-width: 1024px){
    .list--tick .list__item{
        padding-left: 0;
    }
} 

/* Icons */
    .icon{
        width: 40px;
        height: 40px;
    }
    .icon--primary{
        fill: var(--color-primary);
    }

    .icon-container{
        background: #f3f9fa;
        width: 64px;
        height: 64px;
        border-radius: 100%;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        
    }

    /* Buttons */

    .btn{
        border-radius: var(--border-radius);
        border: 0;
        cursor: pointer;
        font-size: 1.5rem;
        font-weight: 600;
        margin: 1rem 0;
        padding: 2rem 3rem;
        text-align: center;
        text-transform: uppercase;
        white-space: nowrap;

    }

    .btn--primary{
        background: var(--color-primary);
        color: white;
    }

    .btn--primary:hover{
        background: #1da9ef;
    }

    .btn--secondary{
        background: var(--color-secondary);
        color: #f3f9fa;
    }
    .btn--secondary:hover{
        background: #00c8eb;
    }

    .btn--accent{
        background: var(--color-accent);
        color: white;
    }
    .btn--accent:hover{
        background: #ee5d39;
    }

    .btn--block{
        width: 100%;
        display: inline-block;
    }

    .btn--outline{
        background: #fff;
        color: var(--color-headings);
        border: 2px solid var(--color-headings);
    }

    .btn--outline:hover{
        background: var(--color-headings);
        color: #fff;
    }
   

@media screen and (min-width: 1024){
    .btn{
        font-size: 1.5rem;
    }
}


/* Input */
.input{
    border-radius: 30px;
    border: 1px solid var(--color-border);
    color: var(--color-headings);
    font-size: 1.5rem;
    outline: 0;
    padding: 1.5rem 2.5rem;
}
::placeholder{
    color: #cdcbd7;
}

.input-group{
    display: flex;
    border: 1px solid var(--color-border);
    border-radius: var(--border-radius);

}
.input-group .input{
    border: 0;
    flex-grow: 1;
    padding: 1.5rem 1rem;
}

.input-group .btn{
    margin: 4px;
}


@media screen and (min-width: 1024){
    .input{
        font-size: 1rem;
    }
}

/* Card */

.card{
    border-radius: 10px;
    box-shadow: 0 0 20px 10px #f3f3f3;
    overflow: hidden;
}

.card__header,
 .card__body{
    padding: 2rem 3rem;
}

.card--primary .card__header{
    background: var(--color-primary);
    color: #fff;
}
.card--secondary .card__header{
    background: var(--color-secondary);
    color: #fff;
}
.card--secondary .badge--secondary{
background: #16acc7;
}


/* Plans */
.plan__name{
    color: #fff;
    margin: 0;
    font-weight: 500;
    font-size: 2.4rem;
}
.plan__price{
    font-size: 6rem;
}

.plan__billing-cycle{
    font-size: 2.4rem;
    font-weight: 300;
    opacity: 0.8;
    margin-right: 1rem;
}

.plan__description{
    font-size: 2rem;
    font-weight: 300;
    letter-spacing: 1px;
    display: block; 
}

.plan .list__item{
    margin-bottom: 2rem;
    letter-spacing: 0.5px;
}

.plan__popular .card__header{
    position: relative;
}

.plan__popular .card__header::before{
    content: url(/images/popular.svg);
    display: inline-block;
    width: 40px;
    position: absolute;
    top: -6px;
    right: 4%;
}

@media screen and (min-width: 1024){
    .plan__name{
        font-size: 1.4rem;
    }
    .plan__price{
        font-size: 5rem;
    }
    .plan__billing-cycle{
        font-size: 6rem;
    }
    .plan__description{
        font-size: 1.7rem;
    }
}
 
/* Media */

.media{
    display: flex;
}
.media__title{
    margin-top: 0;
}
.media__body{
    padding: 0 2rem;
}
.media__image{
    margin-top: 1rem;
}