<section class="block container">
  <header class="block__header">
    <h2 class="block__heading">Heading</h2>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aut temporibus
      odio fuga libero id maiores in dolorum ea consequuntur pariatur!
    </p>
  </header>
</section>
<section class="block block__dark block--skewed-left">
  <div class="container">
    <h2 class="block__heading">Heading</h2>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aut temporibus
      odio fuga libero id maiores in dolorum ea consequuntur pariatur!
    </p>
  </div>
</section>
